.main-header {
  height: 650px;
  width: 100%;
  background-color: aliceblue;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.first-name {
  font-weight: bold;
}