nav {
  position: fixed;
  background-color: transparent;
  color: #FFFFFF;
  height: 105px;
  width: 100vw;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0px;
  left: 0px;
}

nav .logo {
  font-family: Bungee; /* Apply Bungee font to the navigation bar */
  font-size: 36px;
}

.write-new span {
  font-weight: bold; /* Apply bold font style to the span within the paragraph */
}

.fa-solid.fa-angles-down {
  color: red; /* Change the color of the nav bar icon to red */
}

.write-new {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}
