.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
}

.new-tweet form {
  width: 95%;
  height: 90%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.new-tweet label {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20%;
}

#tweet-text {
  display: flex;
  background-color: transparent;
  border: transparent;
  width: 100%
}

.new-tweet button {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: #4056A1;
  margin-top: 2%;
  font-family: Bungee;
  font-size: 70%;
}

.new-tweet button:hover {
  box-shadow: 0px 0px 0px 5px rgba(7, 7, 255, 0.2);
}

.new-tweet output {
  margin-top: 2%;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid rgb(104, 104, 104);
}

#error-mess {
  font-size: 70%;
}

.red-text {
  color: red;
}
