.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */

}

.new-tweet label {
  border-bottom: 2px solid black;
}

.new-tweet label {
  display: flex;
}

.new-tweet textarea {
  display: flex;
} 

.new-tweet button {
  display: flex;
}