article {
  display: flex;
  border: 4px solid rgb(104, 104, 104);
  margin: 5%;
  flex-direction: column;
  padding: 2%;
}

article:hover {
  box-shadow: 5px 5px 2px 1px rgba(46, 46, 125, 0.2);
}

article header {
  display: flex;
  font-weight: 1000;
  font-size: 80%;
  justify-content: space-between;
}

article header span img {
  size: 2%;
}

article footer {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid rgb(104, 104, 104);
  font-size: 60%;
}

article .tweet-text {
  display: flex;
  margin-top: 6%;
}

.submission-icons {
  color: rgb(93, 93, 170)
}

.submission-icons i:hover {
  color: rgb(208, 186, 74)
}